html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #8F57FD;
  font-family: "Mulish", sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8F57FD;
}
.header__img {
  width: 200px;
  margin-top: 9px;
  margin-left: 9px;
}
.header__menu {
  width: 100px;
  margin-right: 30px;
}
.header__menu--perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  margin-top: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}
.header__menu--perfil img {
  width: 40px;
  margin-right: 8px;
}
.header__menu--perfil p {
  font-size: 1.6rem;
  color: white;
}
.header__menu ul {
  display: none;
  margin: 0 0 0 -14px;
  position: absolute;
  width: 100px;
  list-style: none;
  padding: 0px;
  text-align: right;
}
.header__menu ul li {
  margin: 10px 0px;
}
.header__menu ul li a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}
.header__menu ul li a:hover {
  text-decoration: underline;
}
.header__menu:hover ul, .header ul:hover {
  display: block;
}

.header {
  background-color: #21C08B;
}

.main {
  height: calc(100vh - 180px);
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#21C08B), to(#AB88FF));
  background: linear-gradient(#21C08B, #AB88FF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .message h1 {
  color: white;
  font-size: 18.2rem;
}
.main .message .animated {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main .message .pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.main .message p {
  color: white;
  font-size: 1.6rem;
}

footer {
  background-color: #AB88FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
}
footer a {
  color: white;
  font-size: 1.4rem;
  padding-left: 30px;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}