doctype html 
html(lang="es")
    include head.pug
        meta(name="description", content="page not found")
        link(rel="stylesheet", href="../css/404.css")
        title Page not Found
    body 
        include header.pug 
        main.main 
            .message
                h1.animated.pulse 404
                p Página no encontrada
        include footer.pug

