doctype html
html(lang="es")
    head 
        meta(charset="utf-8")
        meta(name="description" content="pues nada jaj")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title probando uno
    body 
        header: ol     
            li Inicio 
            li Cuenta
        main
            div Hola Mundo Feliz
            .clase_errores
                h1 Series Favoritas
                ol
                    li stranger things
            section 
                em hola 
                i hola
        footer contáctanos 

