doctype html 
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name = "description" content="reto")
        meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
        title reto
    body
        header
            h1 Platzi-Video
            ul
                li cuenta
                li cerrar sesión
        main seccion principal
        footer: ul 
            li Contáctanos
            li Política de Privacidad
            li Términos y condiciones
            